* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* THEME VARIABLES*/

:root {
    --bg: #0b0d1a;
    --text: #ffffff;
    --primary: #007EFF;
    --secondary: #FFBF00;
    --nav-bg: rgba(11, 13, 26, 0.7);
}

body[data-theme="light"] {
    --bg: #f4f6fb;
    --text: #111111;
    --primary: #007EFF;
    --secondary: #FFBF00;
    --nav-bg: rgba(255, 255, 255, 0.7);
}


/*
body {
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
    transition: 0.4s ease;
}
*/

body {
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    /* Only horizontal scroll disabled */
    overflow-y: auto;
    /* Vertical scroll enabled */
    transition: 0.4s ease;
}


/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 60px;
    background: var(--nav-bg);
    backdrop-filter: blur(12px);
}

.navbar nav {
    margin-left: auto;
    margin-right: 30px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 28px;
    color: var(--primary);
}


/* NAV LINKS */

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #aaa;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

nav a:hover {
    color: var(--text);
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--secondary);
    transition: .3s;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}


/* THEME BUTTON */

.theme-btn {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 8px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.theme-btn:hover {
    background: var(--primary);
    color: white;
}


/* MAIN */

main.experience-section {
    display: flex;
    flex-direction: column;
    /* changed row → column */
    padding: 120px 8%;
    min-height: 100vh;
    gap: 150px;
}


/* NEW WRAPPER FOR IMAGE + TEXT */

.experience-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* Image Styling */

.experience-image img {
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 126, 255, 0.3);
    animation: floatImage 4s ease-in-out infinite;
}


/* Text Section */

.experience-text {
    max-width: 600px;
    text-align: right;
}


/* H1 Professional Look */

.experience-text h1 {
    font-family: cursive;
    color: var(--primary);
    font-size: 52px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    animation: slideRight 1.2s ease forwards;
}


/* Quote Styling */

.experience-text h3 {
    color: var(--secondary);
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 1.8;
    position: relative;
    padding-left: 25px;
    animation: fadeIn 2s ease forwards;
}


/* Decorative Quote Line */

.experience-text h3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 4px;
    height: 80%;
    background: var(--primary);
    border-radius: 5px;
}


/* Paragraph Animation */

.experience-details p {
    opacity: 100;
    transform: translateY(60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    color: var(--secondary);
    font-weight: 400;
    font-style: arial;
    font-size: 20px;
    line-height: 2;
    position: relative;
    padding-left: 26px;
    animation: fadeIn 2s ease forwards;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 126, 255, 0.3);
    animation: floatImage 4s ease-in-out infinite;
}

.experience-details p.show {
    opacity: 1;
    transform: translateY(0);
}


/* Animations */

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floatImage {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}


/*practice add*/

.practice-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 120px 8%;
    min-height: 100vh;
    gap: 80px;
    min-height: auto;
    /* ya pura min-height hata do */
    padding: 50px 8%;
    /* agar upar niche aur kam karna ho */
}


/* Image Styling */

.practice-image img {
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 126, 255, 0.3);
    animation: floatok 4s ease-in-out infinite;
    animation: slideleft 1.5s ease forwards;
}

.practice-content {
    max-width: 600px;
    text-align: left;
}

.practice-content h2 {
    font-family: cursive;
    color: var(--secondary);
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    animation: slideok 1.5s ease forwards;
}

.practice-content p {
    color: var(--primary);
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    line-height: 1.8;
    position: relative;
    padding-left: 25px;
    animation: slideok 2s ease forwards;
}

@keyframes slideok {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideleft {
    from {
        opacity: 0;
        transform: translateX(80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floatok {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-18px);
    }
}


/*skill*/

.skill-main {
    min-height: auto;
    gap: 100%;
    padding: 70px 8%;
    display: flex;
}

.skills h2 {
    opacity: 100;
    transform: translateY(60px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    color: var( --primary);
    font-weight: 400;
    font-style: arial;
    font-size: 20px;
    line-height: 2;
    position: relative;
    padding-left: 45%;
    animation: fadeIn 2s ease forwards;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(248, 227, 39, 0.3);
    animation: floatImage 4s ease-in-out infinite;
}

.skill-icon img {
    position: relative;
    opacity: 100;
    transition: opacity 0.8s ease, transform 0.8s ease;
    color: var( --primary);
    font-weight: 200;
    font-style: arial;
    font-size: 20px;
    line-height: 2;
    position: relative;
    padding-left: 20%;
    animation: fadeIn 2s ease forwards;
    width: 32%;
    border-radius: 20px;
    box-shadow: 0 30px 40px rgba(0, 126, 255, 0.3);
    animation: floatImage 4s ease-in-out infinite;
    min-height: auto;
    gap: 100%;
    padding: 50px 9%;
    animation: sliderightskill 4s ease-in-out infinite;
}

@keyframes sliderightskill {
    from {
        opacity: 0;
        transform: translateX(80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes floatskill {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-18px);
    }
}


/* ecperience footer */

.footer {
    background: #0F172A;
    color: #F8FAFC;
    padding: 60px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.footer-container {
    max-width: 800px;
    margin: auto;
}


/* Title Animation */

.footer-title {
    font-size: 36px;
    margin-bottom: 10px;
    animation: fadeSlideDown 1.2s ease-in-out;
}

.footer-text {
    margin-bottom: 30px;
    color: #CBD5E1;
    animation: fadeIn 2s ease-in-out;
}


/* Bottom */

.footer-bottom {
    margin-top: 40px;
    font-size: 14px;
    color: #94A3B8;
}

.cta {
    margin-top: 50px;
    padding: 12px 28px;
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    transition: .3s;
}

.cta:hover {
    background: var(--primary);
    color: white;
}


/* Animations */

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Responsive */

@media(max-width: 768px) {
    .contact-info {
        flex-direction: column;
    }
}